In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

In [2]:
latlong = pd.read_csv("district wise centroids.csv")
latlong

                   State           District   Latitude  Longitude
0    Andaman and Nicobar    Andaman Islands  12.382571  92.822911
1    Andaman and Nicobar    Nicobar Islands   7.835291  93.511601
2         Andhra Pradesh           Adilabad  19.284514  78.813212
3         Andhra Pradesh          Anantapur  14.312066  77.460158
4         Andhra Pradesh           Chittoor  13.331093  78.927639
..                   ...                ...        ...        ...
589          West Bengal  North 24 Parganas  22.062388  88.877940
590          West Bengal           Puruliya  23.254192  86.396853
591          West Bengal  South 24 Parganas  21.854428  88.445370
592          West Bengal     Uttar Dinajpur  26.044619  88.235952
593          West Bengal     West Midnapore  22.354897  87.231014

[594 rows x 4 columns]

In [3]:
latlong.isna().sum()

State        0
District     0
Latitude     0
Longitude    0
dtype: int64

In [5]:
census = pd.read_csv('india-districts-census-2011.csv')
census

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,282823,156831,1048,...,94,588,71,101,172,74,10,84,15,1119
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,207741,127908,368,...,126,562,72,89,161,96,28,124,18,1066
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,62834,30936,488,...,46,122,15,22,37,20,14,34,17,242
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,56301,29935,18,...,27,114,12,18,30,19,3,22,7,214
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,163333,98391,556,...,78,346,35,50,85,59,8,67,12,629
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,PONDICHERRY,Mahe,41816,19143,22673,36470,16610,19860,144,...,2316,4309,1370,838,2208,576,978,1554,1446,10027
636,637,PONDICHERRY,Karaikal,200222,97809,102413,154916,79903,75013,35348,...,1063,2408,665,340,1005,246,483,729,341,4890
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842,20727,16115,25332,15397,9935,0,...,685,1895,212,134,346,70,120,190,84,3151
638,639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,105597,54861,50736,78683,43186,35497,0,...,685,1895,212,134,346,70,120,190,84,3151
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,238142,127283,110859,190266,105794,84472,0,...,1371,3020,649,368,1017,265,497,762,376,5782

In [16]:
df = latlong.merge(census, left_on='District', right_on='District name')
df

,State,District,Latitude,Longitude,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,Male_SC,Female_SC,ST,Male_ST,Female_ST,Workers,Male_Workers,Female_Workers,Main_Workers,Marginal_Workers,Non_Workers,Cultivator_Workers,Agricultural_Workers,Household_Workers,Other_Workers,Hindus,Muslims,Christians,Sikhs,Buddhists,Jains,Others_Religions,Religion_Not_Stated,LPG_or_PNG_Households,Housholds_with_Electric_Lighting,Households_with_Internet,Households_with_Computer,Rural_Households,Urban_Households,Households,Below_Primary_Education,Primary_Education,Middle_Education,Secondary_Education,Higher_Education,Graduate_Education,Other_Education,Literate_Education,Illiterate_Education,Total_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50,Age not stated,Households_with_Bicycle,Households_with_Car_Jeep_Van,Households_with_Radio_Transistor,Households_with_Scooter_Motorcycle_Moped,Households_with_Telephone_Mobile_Phone_Landline_only,Households_with_Telephone_Mobile_Phone_Mobile_only,Households_with_TV_Computer_Laptop_Telephone_mobile_phone_and_Scooter_Car,Households_with_Television,Households_with_Telephone_Mobile_Phone,Households_with_Telephone_Mobile_Phone_Both,Condition_of_occupied_census_houses_Dilapidated_Households,Households_with_separate_kitchen_Cooking_inside_house,Having_bathing_facility_Total_Households,Having_latrine_facility_within_the_premises_Total_Households,Ownership_Owned_Households,Ownership_Rented_Households,Type_of_bathing_facility_Enclosure_without_roof_Households,Type_of_fuel_used_for_cooking_Any_other_Households,Type_of_latrine_facility_Pit_latrine_Households,Type_of_latrine_facility_Other_latrine_Households,Type_of_latrine_facility_Night_soil_disposed_into_open_drain_Households,Type_of_latrine_facility_Flush_pour_flush_latrine_connected_to_other_system_Households,Not_having_bathing_facility_within_the_premises_Total_Households,Not_having_latrine_facility_within_the_premises_Alternative_source_Open_Households,Main_source_of_drinking_water_Un_covered_well_Households,Main_source_of_drinking_water_Handpump_Tubewell_Borewell_Households,Main_source_of_drinking_water_Spring_Households,Main_source_of_drinking_water_River_Canal_Households,Main_source_of_drinking_water_Other_sources_Households,Main_source_of_drinking_water_Other_sources_Spring_River_Canal_Tank_Pond_Lake_Other_sources__Households,Location_of_drinking_water_source_Near_the_premises_Households,Location_of_drinking_water_source_Within_the_premises_Households,Main_source_of_drinking_water_Tank_Pond_Lake_Households,Main_source_of_drinking_water_Tapwater_Households,Main_source_of_drinking_water_Tubewell_Borehole_Households,Household_size_1_person_Households,Household_size_2_persons_Households,Household_size_1_to_2_persons,Household_size_3_persons_Households,Household_size_3_to_5_persons_Households,Household_size_4_persons_Households,Household_size_5_persons_Households,Household_size_6_8_persons_Households,Household_size_9_persons_and_above_Households,Location_of_drinking_water_source_Away_Households,Married_couples_1_Households,Married_couples_2_Households,Married_couples_3_Households,Married_couples_3_or_more_Households,Married_couples_4_Households,Married_couples_5__Households,Married_couples_None_Households,Power_Parity_Less_than_Rs_45000,Power_Parity_Rs_45000_90000,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,Andhra Pradesh,Adilabad,19.284514,78.813212,532,ANDHRA PRADESH,Adilabad,2741239,1369597,1371642,1483347,856350,626997,488596,242844,245752,495794,247472,248322,1323667,748939,574728,1066460,257207,1417572,363737,484912,84661,390357,2399901,275970,15422,1377,25510,617,322,22120,194954,566108,5512,45202,597466,220248,817714,232470,344167,281752,225957,143143,100226,19277,1346992,1030640,2377632,1536378,704551,422522,77788,150289,8338,25190,96998,15483,374630,9483,306433,403530,13417,35823,510399,378259,191052,559211,77594,180245,1009,20150,6489,4078,9390,273511,446014,93294,267233,2294,3303,7390,14508,212025,229686,1521,270862,79354,27018,80780,107798,103066,417387,182282,132039,114585,12000,210059,503266,58377,6455,7297,722,120,82830,648,1604,1266,2870,84,122,206,134,213,347,109,4181
1,Andhra Pradesh,Anantapur,14.312066,77.460158,553,ANDHRA PRADESH,Anantapur,4081148,2064495,2016653,2310960,1338474,972486,583135,292379,290756,154127,78573,75554,2036166,1208544,827622,1679655,356511,2044982,413253,879537,105343,638033,3599372,443456,20463,932,341,1417,309,14858,223016,897970,8606,48299,902997,341431,1244428,462273,720357,582075,331793,162175,144915,23341,2426929,1369069,3795998,2189396,1104565,739612,47575,206433,9915,63528,144214,24039,534408,14470,559461,581087,22640,23899,713663,755971,353948,779195,172680,222718,824,96437,22059,19296,11188,205194,581051,5049,117001,552,469,16086,17308,528245,225275,201,819675,43685,36633,106460,143093,156107,644263,291388,196768,153243,20566,207645,718794,115052,15584,17947,1994,369,109372,969,2252,1605,3857,143,150,293,176,261,437,243,5799
2,Andhra Pradesh,Chittoor,13.331093,78.927639,554,ANDHRA PRADESH,Chittoor,4174064,2090204,2083860,2667878,1484794,1183084,785760,389582,396178,159165,79756,79409,1933357,1202223,731134,1669852,263505,2240707,434544,748093,57269,693451,3737588,397870,24129,867,253,1322,358,11677,324406,944555,13763,67087,907970,395900,1303870,522961,770836,673197,548336,265199,246409,36017,3062955,1170993,4233948,2148179,1159053,807430,59402,225856,16296,93489,186568,35378,561188,24934,611465,632803,36237,30849,777100,754648,382377,815953,196720,246488,640,32299,12221,10381,11823,267468,628364,8192,135531,349,548,38931,40322,539408,342011,494,835606,92651,55151,132169,187320,175853,678054,311451,190750,142837,13905,140697,757090,105579,10901,12183,1103,179,147264,1021,2270,1565,3835,261,125,386,157,218,375,307,5926
3,Andhra Pradesh,East Godavari,16.782718,82.243207,545,ANDHRA PRADESH,East Godavari,5154296,2569688,2584608,3288577,1716933,1571644,945269,468883,476386,213195,104422,108773,2093681,1545831,547850,1748117,345564,3060615,160407,1122046,57853,753375,4983330,77777,77825,738,413,4149,403,9661,479914,1297273,22411,93784,1199479,406362,1605841,669420,947606,797497,521562,271809,263023,47702,3518619,1524603,5043222,2724328,1478954,948122,2892,779052,25381,113126,232073,65415,614288,34494,821421,732492,52789,46973,869294,869464,800168,1088823,278383,132607,1622,50195,6007,2058,11341,537946,510602,121195,342767,4440,6523,11217,27864,558347,613789,5684,908806,40397,95856,239150,335006,275218,952492,468704,208570,112434,7478,235274,1085890,85895,6477,7007,450,80,228618,1274,2865,1949,4814,189,164,353,195,286,481,290,7211
4,Andhra Pradesh,Guntur,15.884926,80.586576,548,ANDHRA PRADESH,Guntur,4887813,2440521,2447292,2960441,1634726,1325715,957407,476333,481074,247089,125105,121984,2381624,1442370,939254,2106326,275298,2506189,302341,1227956,47436,803891,4217597,559770,89763,764,323,3282,332,15982,648568,1186028,19383,80434,1069877,513113,1582990,736270,845810,674957,453446,246580,221924,30279,3209266,1474349,4683615,2583462,1371811,928462,4078,454586,17424,106907,190079,62229,617321,28457,816849,733133,53583,44968,917356,904201,762845,981115,276073,180459,1292,58852,5982,2660,4774,383630,513287,67710,428749,1299,4238,35872,47242,465404,554667,5833,739450,73453,83026,212589,295615,229537,842985,413160,200288,139120,10111,267760,972992,117838,10388,11313,821,104,185688,1119,2657,1953,4610,196,188,384,222,328,550,317,6981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,West Bengal,Maldah,25.080268,88.171917,332,WEST BENGAL,Maldah,3988845,2051541,1937304,2086432,1152019,934413,835430,432744,402686,313984,157528,156456,1537847,1086461,451386,1050995,486852,2450998,255182,545759,196687,540219,1914352,2045151,13209,747,359,639,7929,6459,54213,297716,5357,63525,830318,128678,958996,478902,629137,595551,238078,109719,92207,18330,2161924,1960034,4121958,2511004,955283,520122,2436,401774,9639,80307,41600,12266,269454,6001,142659,295922,14202,91699,764919,175732,266247,810212,12496,66351,67852,129187,7046,2644,22955,663206,557771,68379,622045,245,1850,11386,15052,302336,305711,1571,129224,182281,26008,76538,102546,128796,492634,193851,169987,209643,34115,230891,645609,92422,14596,17689,2519,574,83218,946,1764,833,2597,283,95,378,63,121,184,86,4191
513,West Bengal,Murshidabad,24.259507,88.168169,333,WEST BENGAL,Murshidabad,7103807,3627564,3476243,4055834,2177187,1878647,897534,460143,437391,91035,46163,44872,2589907,1985667,604240,2022083,567824,4513900,381076,842294,466007,900530,2359061,4707573,18102,766,348,3037,7429,7491,92742,541169,7951,79729,1501066,350899,1851965,837828,1428661,1210859,443254,230242,170051,25975,4346870,3031841,7378711,4390564,1717594,991413,4236,840951,14050,171487,74313,20640,485151,9190,296566,530442,24651,250678,1456525,388157,617358,1481222,21489,133537,48912,316507,14295,4315,74255,1173735,916194,7421,1419053,191,2227,16353,20536,510541,656450,1765,109233,236393,58934,159421,218355,261786,963617,396087,305744,320901,59019,394901,1204751,161887,27361,32750,4328,1061,162504,1645,3099,1663,4762,597,268,865,220,441,661,153,8088
514,West Bengal,Nadia,23.564110,88.582930,336,WEST BENGAL,Nadia,5167600,2653768,2513832,3480555,1878866,1601689,1546917,798258,748659,140700,71142,69558,1842607,1554090,288517,1595880,246727,3324993,308742,556134,169138,808593,3728482,1382682,33835,849,514,281,16893,4064,168314,623729,12787,77210,1081381,468390,1549771,605490,1093403,1052487,412193,236828,209562,25491,3635454,1570127,5205581,2745828,1484986,934417,2369,796698,18658,140988,76698,22088,491932,11880,384314,544290,30270,174104,1103326,456320,955780,1162914,31984,153113,31121,597679,17238,6241,102522,775536,253279,2492,1010328,145,971,14324,16259,250539,837334,819,199423,181019,39958,120563,160521,264946,856282,367982,223354,186713,28340,143983,929744,149929,23962,28090,3386,742,124093,1160,2429,1520,3949,675,321,996,237,466,703,240,7048
515,West Bengal,Puruliya,23.254192,86.396853,340,WEST BENGAL,Puruliya,2930115,1496996,1433119,1624905,1002058,622847,567767,290789,276978,540652,271803,268849,1249642,801254,448388,613398,636244,1680473,268800,492205,87560,401077,2373120,227249,8646,622,209,3052,309029,8188,30675,189889,3551,32862,653219,99433,752652,299355,480046,528068,177459,91807,77621,10072,1664428,1272799,2937227,1678057,764776,484166,3116,393127,6602,50759,49630,7054,175211,5019,104489,191057,8792,41751,522871,66231,67448,546915,13996,15147,33018,3716,1672,544,4369,503023,496505,157386,315203,3374,13793,1790,20748,226511,55184,1791,69266,114439,19260,42004,61264,68614,307951,125289,114048,151353,48686,287559,377334,97784,25976,33073,5569,1528,61063,640,1332,670,2002,313,90,403,65,127,192,71,3309
516,West Bengal,Uttar Dinajpur,26.044619,88.235952,330,WEST BENGAL,Uttar Dinajpur,3007134,1551066,1456068,1489667,853495,636172,807950,418288,389662,162816,81831,80985,1075626,799627,275999,824342,251284,1931508,257377,442328,37978,337943,1482943,1501170,16702,477,432,1324,1622,2464,39138,199307,2883,31210,683981,94269,778250,402590,488047,422777,163106,73395,59457,12723,1622095,1431264,3053359,1916033,704859,385155,1087,362567,8150,56216,31859,5984,185285,3450,105431,198832,7563,75630,528452,179022,164644,573488,10356,103692,21596,71962,3739,1497,12362,419150,426513,9714,546712,39,484,7838,8721,177469,343480,360,31795,95954,14723,47047,61770,81917,326958,126359,118682,179210,30234,77223,471345,60312,8186,9659,1190,283,56856,710,1306,641,1947,220,79,299,79,159,238,20,3214

In [18]:
columns_list = df.columns.tolist()
columns_list

['State',
 'District',
 'Latitude',
 'Longitude',
 'District code',
 'State name',
 'District name',
 'Population',
 'Male',
 'Female',
 'Literate',
 'Male_Literate',
 'Female_Literate',
 'SC',
 'Male_SC',
 'Female_SC',
 'ST',
 'Male_ST',
 'Female_ST',
 'Workers',
 'Male_Workers',
 'Female_Workers',
 'Main_Workers',
 'Marginal_Workers',
 'Non_Workers',
 'Cultivator_Workers',
 'Agricultural_Workers',
 'Household_Workers',
 'Other_Workers',
 'Hindus',
 'Muslims',
 'Christians',
 'Sikhs',
 'Buddhists',
 'Jains',
 'Others_Religions',
 'Religion_Not_Stated',
 'LPG_or_PNG_Households',
 'Housholds_with_Electric_Lighting',
 'Households_with_Internet',
 'Households_with_Computer',
 'Rural_Households',
 'Urban_Households',
 'Households',
 'Below_Primary_Education',
 'Primary_Education',
 'Middle_Education',
 'Secondary_Education',
 'Higher_Education',
 'Graduate_Education',
 'Other_Education',
 'Literate_Education',
 'Illiterate_Education',
 'Total_Education',
 'Age_Group_0_29',
 'Age_Group_30_49',
 'Age_Group_50',
 'Age not stated',
 'Households_with_Bicycle',
 'Households_with_Car_Jeep_Van',
 'Households_with_Radio_Transistor',
 'Households_with_Scooter_Motorcycle_Moped',
 'Households_with_Telephone_Mobile_Phone_Landline_only',
 'Households_with_Telephone_Mobile_Phone_Mobile_only',
 'Households_with_TV_Computer_Laptop_Telephone_mobile_phone_and_Scooter_Car',
 'Households_with_Television',
 'Households_with_Telephone_Mobile_Phone',
 'Households_with_Telephone_Mobile_Phone_Both',
 'Condition_of_occupied_census_houses_Dilapidated_Households',
 'Households_with_separate_kitchen_Cooking_inside_house',
 'Having_bathing_facility_Total_Households',
 'Having_latrine_facility_within_the_premises_Total_Households',
 'Ownership_Owned_Households',
 'Ownership_Rented_Households',
 'Type_of_bathing_facility_Enclosure_without_roof_Households',
 'Type_of_fuel_used_for_cooking_Any_other_Households',
 'Type_of_latrine_facility_Pit_latrine_Households',
 'Type_of_latrine_facility_Other_latrine_Households',
 'Type_of_latrine_facility_Night_soil_disposed_into_open_drain_Households',
 'Type_of_latrine_facility_Flush_pour_flush_latrine_connected_to_other_system_Households',
 'Not_having_bathing_facility_within_the_premises_Total_Households',
 'Not_having_latrine_facility_within_the_premises_Alternative_source_Open_Households',
 'Main_source_of_drinking_water_Un_covered_well_Households',
 'Main_source_of_drinking_water_Handpump_Tubewell_Borewell_Households',
 'Main_source_of_drinking_water_Spring_Households',
 'Main_source_of_drinking_water_River_Canal_Households',
 'Main_source_of_drinking_water_Other_sources_Households',
 'Main_source_of_drinking_water_Other_sources_Spring_River_Canal_Tank_Pond_Lake_Other_sources__Households',
 'Location_of_drinking_water_source_Near_the_premises_Households',
 'Location_of_drinking_water_source_Within_the_premises_Households',
 'Main_source_of_drinking_water_Tank_Pond_Lake_Households',
 'Main_source_of_drinking_water_Tapwater_Households',
 'Main_source_of_drinking_water_Tubewell_Borehole_Households',
 'Household_size_1_person_Households',
 'Household_size_2_persons_Households',
 'Household_size_1_to_2_persons',
 'Household_size_3_persons_Households',
 'Household_size_3_to_5_persons_Households',
 'Household_size_4_persons_Households',
 'Household_size_5_persons_Households',
 'Household_size_6_8_persons_Households',
 'Household_size_9_persons_and_above_Households',
 'Location_of_drinking_water_source_Away_Households',
 'Married_couples_1_Households',
 'Married_couples_2_Households',
 'Married_couples_3_Households',
 'Married_couples_3_or_more_Households',
 'Married_couples_4_Households',
 'Married_couples_5__Households',
 'Married_couples_None_Households',
 'Power_Parity_Less_than_Rs_45000',
 'Power_Parity_Rs_45000_90000',
 'Power_Parity_Rs_90000_150000',
 'Power_Parity_Rs_45000_150000',
 'Power_Parity_Rs_150000_240000',
 'Power_Parity_Rs_240000_330000',
 'Power_Parity_Rs_150000_330000',
 'Power_Parity_Rs_330000_425000',
 'Power_Parity_Rs_425000_545000',
 'Power_Parity_Rs_330000_545000',
 'Power_Parity_Above_Rs_545000',
 'Total_Power_Parity']

In [26]:
cols = ['State', 'District', 'Latitude', 'Longitude', 'Population', 'Male', 'Female', 'Literate', 'Male_Literate', 'Female_Literate', 'Hindus', 'Muslims', 'Christians', 'Sikhs', 'Buddhists', 'Jains', 'Others_Religions', 'Rural_Households', 'Urban_Households']
df = df[cols]
df

,State,District,Latitude,Longitude,Population,Male,Female,Literate,Male_Literate,Female_Literate,Hindus,Muslims,Christians,Sikhs,Buddhists,Jains,Others_Religions,Rural_Households,Urban_Households
0,Andhra Pradesh,Adilabad,19.284514,78.813212,2741239,1369597,1371642,1483347,856350,626997,2399901,275970,15422,1377,25510,617,322,597466,220248
1,Andhra Pradesh,Anantapur,14.312066,77.460158,4081148,2064495,2016653,2310960,1338474,972486,3599372,443456,20463,932,341,1417,309,902997,341431
2,Andhra Pradesh,Chittoor,13.331093,78.927639,4174064,2090204,2083860,2667878,1484794,1183084,3737588,397870,24129,867,253,1322,358,907970,395900
3,Andhra Pradesh,East Godavari,16.782718,82.243207,5154296,2569688,2584608,3288577,1716933,1571644,4983330,77777,77825,738,413,4149,403,1199479,406362
4,Andhra Pradesh,Guntur,15.884926,80.586576,4887813,2440521,2447292,2960441,1634726,1325715,4217597,559770,89763,764,323,3282,332,1069877,513113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,West Bengal,Maldah,25.080268,88.171917,3988845,2051541,1937304,2086432,1152019,934413,1914352,2045151,13209,747,359,639,7929,830318,128678
513,West Bengal,Murshidabad,24.259507,88.168169,7103807,3627564,3476243,4055834,2177187,1878647,2359061,4707573,18102,766,348,3037,7429,1501066,350899
514,West Bengal,Nadia,23.564110,88.582930,5167600,2653768,2513832,3480555,1878866,1601689,3728482,1382682,33835,849,514,281,16893,1081381,468390
515,West Bengal,Puruliya,23.254192,86.396853,2930115,1496996,1433119,1624905,1002058,622847,2373120,227249,8646,622,209,3052,309029,653219,99433
516,West Bengal,Uttar Dinajpur,26.044619,88.235952,3007134,1551066,1456068,1489667,853495,636172,1482943,1501170,16702,477,432,1324,1622,683981,94269

In [31]:
df['sex_ratio'] = round((df['Female']/df['Male'])*1000)
df

C:\Users\DILKHUSH\AppData\Local\Temp\ipykernel_4176\2516387546.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sex_ratio'] = round((df['Female']/df['Male'])*1000)

,State,District,Latitude,Longitude,Population,Male,Female,Literate,Male_Literate,Female_Literate,Hindus,Muslims,Christians,Sikhs,Buddhists,Jains,Others_Religions,Rural_Households,Urban_Households,sex_ratio
0,Andhra Pradesh,Adilabad,19.284514,78.813212,2741239,1369597,1371642,1483347,856350,626997,2399901,275970,15422,1377,25510,617,322,597466,220248,1001.0
1,Andhra Pradesh,Anantapur,14.312066,77.460158,4081148,2064495,2016653,2310960,1338474,972486,3599372,443456,20463,932,341,1417,309,902997,341431,977.0
2,Andhra Pradesh,Chittoor,13.331093,78.927639,4174064,2090204,2083860,2667878,1484794,1183084,3737588,397870,24129,867,253,1322,358,907970,395900,997.0
3,Andhra Pradesh,East Godavari,16.782718,82.243207,5154296,2569688,2584608,3288577,1716933,1571644,4983330,77777,77825,738,413,4149,403,1199479,406362,1006.0
4,Andhra Pradesh,Guntur,15.884926,80.586576,4887813,2440521,2447292,2960441,1634726,1325715,4217597,559770,89763,764,323,3282,332,1069877,513113,1003.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,West Bengal,Maldah,25.080268,88.171917,3988845,2051541,1937304,2086432,1152019,934413,1914352,2045151,13209,747,359,639,7929,830318,128678,944.0
513,West Bengal,Murshidabad,24.259507,88.168169,7103807,3627564,3476243,4055834,2177187,1878647,2359061,4707573,18102,766,348,3037,7429,1501066,350899,958.0
514,West Bengal,Nadia,23.564110,88.582930,5167600,2653768,2513832,3480555,1878866,1601689,3728482,1382682,33835,849,514,281,16893,1081381,468390,947.0
515,West Bengal,Puruliya,23.254192,86.396853,2930115,1496996,1433119,1624905,1002058,622847,2373120,227249,8646,622,209,3052,309029,653219,99433,957.0
516,West Bengal,Uttar Dinajpur,26.044619,88.235952,3007134,1551066,1456068,1489667,853495,636172,1482943,1501170,16702,477,432,1324,1622,683981,94269,939.0

In [35]:
df['literacy_rate'] = round((df['Literate']/df['Population'])*100)
df['male_literacy'] = round((df['Male_Literate']/df['Male'])*100)
df['female_literacy'] = round((df['Female_Literate']/df['Female'])*100)

C:\Users\DILKHUSH\AppData\Local\Temp\ipykernel_4176\3336166449.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['literacy_rate'] = round((df['Literate']/df['Population'])*100)
C:\Users\DILKHUSH\AppData\Local\Temp\ipykernel_4176\3336166449.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['male_literacy'] = round((df['Male_Literate']/df['Male'])*100)
C:\Users\DILKHUSH\AppData\Local\Temp\ipykernel_4176\3336166449.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['female_literacy'] = round((df['Female_Literate']/df['Female'])*100)

In [38]:
df.drop(columns=['Male_Literate', 'Female_Literate', 'Literate'], inplace=True)

C:\Users\DILKHUSH\AppData\Local\Temp\ipykernel_4176\638077093.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['Male_Literate', 'Female_Literate', 'Literate'], inplace=True)

In [39]:
df

,State,District,Latitude,Longitude,Population,Male,Female,Hindus,Muslims,Christians,Sikhs,Buddhists,Jains,Others_Religions,Rural_Households,Urban_Households,sex_ratio,literacy_rate,male_literacy,female_literacy
0,Andhra Pradesh,Adilabad,19.284514,78.813212,2741239,1369597,1371642,2399901,275970,15422,1377,25510,617,322,597466,220248,1001.0,54.0,63.0,46.0
1,Andhra Pradesh,Anantapur,14.312066,77.460158,4081148,2064495,2016653,3599372,443456,20463,932,341,1417,309,902997,341431,977.0,57.0,65.0,48.0
2,Andhra Pradesh,Chittoor,13.331093,78.927639,4174064,2090204,2083860,3737588,397870,24129,867,253,1322,358,907970,395900,997.0,64.0,71.0,57.0
3,Andhra Pradesh,East Godavari,16.782718,82.243207,5154296,2569688,2584608,4983330,77777,77825,738,413,4149,403,1199479,406362,1006.0,64.0,67.0,61.0
4,Andhra Pradesh,Guntur,15.884926,80.586576,4887813,2440521,2447292,4217597,559770,89763,764,323,3282,332,1069877,513113,1003.0,61.0,67.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,West Bengal,Maldah,25.080268,88.171917,3988845,2051541,1937304,1914352,2045151,13209,747,359,639,7929,830318,128678,944.0,52.0,56.0,48.0
513,West Bengal,Murshidabad,24.259507,88.168169,7103807,3627564,3476243,2359061,4707573,18102,766,348,3037,7429,1501066,350899,958.0,57.0,60.0,54.0
514,West Bengal,Nadia,23.564110,88.582930,5167600,2653768,2513832,3728482,1382682,33835,849,514,281,16893,1081381,468390,947.0,67.0,71.0,64.0
515,West Bengal,Puruliya,23.254192,86.396853,2930115,1496996,1433119,2373120,227249,8646,622,209,3052,309029,653219,99433,957.0,55.0,67.0,43.0
516,West Bengal,Uttar Dinajpur,26.044619,88.235952,3007134,1551066,1456068,1482943,1501170,16702,477,432,1324,1622,683981,94269,939.0,50.0,55.0,44.0

In [40]:
df.to_csv('census_2011_cleaned.csv', index=False)

#### State Names

In [44]:
list_of_states = list(df['State'].unique())
list_of_states

['Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Daman and Diu',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Orissa',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Tripura',
 'Uttar Pradesh',
 'Uttaranchal',
 'West Bengal']

#### Parameters List

In [45]:
sorted(df.columns[4:])

Index(['State', 'District', 'Latitude', 'Longitude', 'Population', 'Male',
       'Female', 'Hindus', 'Muslims', 'Christians', 'Sikhs', 'Buddhists',
       'Jains', 'Others_Religions', 'Rural_Households', 'Urban_Households',
       'sex_ratio', 'literacy_rate', 'male_literacy', 'female_literacy'],
      dtype='object')